@model  List<EADProject.Models.ComputerScience>
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
	 @Scripts.Render("~/bundles/jquery")
	<body id="page3">
		<section id="content">
			<div class="main">
               
			 	<div id="d" class="indent-left">
					
                     <h3>Delete or Modify Computer Books</h3>
                     <table border="1" >
   

     <tr>
        <td>Id</td>   
        <td>Name</td>    
        <td>Author</td>
        <td>Price</td>
         <td>Picture</td>
         </tr>
        @foreach(var s in Model)
        {
           <tr>
        
        <td>@s.Id</td>
        <td>@s.Name</td>
        <td>@s.Author</td>
        <td>@s.Price</td>
         <td>@s.Picture</td>
         <td><a href="~/Admin/DeleteComputerBook/@s.Id">Delete</a></td>
        <td><a href="~/Admin/UpdateComputerBook/@s.Id">Update</a></td>
            </tr>
        }
    </table>
        </div>

    <br/><br/>
    





    		</div>
		</section>
		<script type="text/javascript"> Cufon.now(); </script>
	</body>


